.h-4 {
    height: 1rem
}
.w-4 {
    width: 1rem
}
@layer custom.base {
    .ph {
        --ph-url: none;
        width: 1em;
        height: 1em;
        background-color: currentcolor;
        color: inherit;
        mask-image: var(--ph-url);
        mask-size: 100% 100%;
        mask-repeat: no-repeat
    }
    .ph:is(span,i) {
        display: inline-block
    }
}
@layer custom {
    .ph-\[info\] {
        --ph-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBmaWxsPSJjdXJyZW50Q29sb3IiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wm0wLDE5MmE4OCw4OCwwLDEsMSw4OC04OEE4OC4xLDg4LjEsMCwwLDEsMTI4LDIxNlptMTYtNDBhOCw4LDAsMCwxLTgsOCwxNiwxNiwwLDAsMS0xNi0xNlYxMjhhOCw4LDAsMCwxLDAtMTYsMTYsMTYsMCwwLDEsMTYsMTZ2NDBBOCw4LDAsMCwxLDE0NCwxNzZaTTExMiw4NGExMiwxMiwwLDEsMSwxMiwxMkExMiwxMiwwLDAsMSwxMTIsODRaIi8+PC9zdmc+)
    }
}
	// __bfill_20260426_837__
// __bfill_20260609_1720__
// __bfill_20260606_1457__
// __bfill_20260219_95__
// __bfill_20260810_1412__
