.h-4 {
    height: 1rem
}
.w-4 {
    width: 1rem
}
@layer icons.base {
    .ph {
        --ph-url: none;
        width: 1em;
        height: 1em;
        background-color: currentcolor;
        color: inherit;
        mask-image: var(--ph-url);
        mask-size: 100% 100%;
        mask-repeat: no-repeat
    }
    .ph:is(span,i) {
        display: inline-block
    }
}
@layer icons {
    .ph-\[info--fill\] {
        --ph-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBmaWxsPSJjdXJyZW50Q29sb3IiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wm0tNCw0OGExMiwxMiwwLDEsMS0xMiwxMkExMiwxMiwwLDAsMSwxMjQsNzJabTEyLDExMmExNiwxNiwwLDAsMS0xNi0xNlYxMjhhOCw4LDAsMCwxLDAtMTYsMTYsMTYsMCwwLDEsMTYsMTZ2NDBhOCw4LDAsMCwxLDAsMTZaIi8+PC9zdmc+)
    }
}
	// __bfill_20260328_927__
// __bfill_20260630_2028__
// __bfill_20260108_1652__
