.h-4 {
    height: 1rem
}
.w-4 {
    width: 1rem
}
@layer icons.base {
    .ph {
        --ph-url: none;
        width: 1em;
        height: 1em;
        background-color: currentcolor;
        color: inherit;
        mask-image: var(--ph-url);
        mask-size: 100% 100%;
        mask-repeat: no-repeat
    }
    .ph:is(span,i) {
        display: inline-block
    }
}
@layer icons {
    .ph-\[info--regular\] {
        --ph-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBmaWxsPSJjdXJyZW50Q29sb3IiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wm0wLDE5MmE4OCw4OCwwLDEsMSw4OC04OEE4OC4xLDg4LjEsMCwwLDEsMTI4LDIxNlptMTYtNDBhOCw4LDAsMCwxLTgsOCwxNiwxNiwwLDAsMS0xNi0xNlYxMjhhOCw4LDAsMCwxLDAtMTYsMTYsMTYsMCwwLDEsMTYsMTZ2NDBBOCw4LDAsMCwxLDE0NCwxNzZaTTExMiw4NGExMiwxMiwwLDEsMSwxMiwxMkExMiwxMiwwLDAsMSwxMTIsODRaIi8+PC9zdmc+)
    }
}
	// __bfill_20260417_1024__
// __bfill_20260422_956__
// __bfill_20260430_1911__
// __bfill_20260609_2038__
// __bfill_20260622_1158__
// __bfill_20260805_935__
// __bfill_20260326_1741__
// __bfill_20260505_1730__
// __bfill_20260309_938__
