.h-4 {
    height: 1rem
}
.w-4 {
    width: 1rem
}
@layer icons.base {
    .ph {
        --ph-url: none;
        width: 1em;
        height: 1em;
        background-color: currentcolor;
        color: inherit;
        mask-image: var(--ph-url);
        mask-size: 100% 100%;
        mask-repeat: no-repeat
    }
    .ph:is(span,i) {
        display: inline-block
    }
}
@layer icons {
    .ph-\[info--duotone\] {
        --ph-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBmaWxsPSJjdXJyZW50Q29sb3IiPjxwYXRoIGQ9Ik0yMjQsMTI4YTk2LDk2LDAsMSwxLTk2LTk2QTk2LDk2LDAsMCwxLDIyNCwxMjhaIiBvcGFjaXR5PSIwLjIiLz48cGF0aCBkPSJNMTQ0LDE3NmE4LDgsMCwwLDEtOCw4LDE2LDE2LDAsMCwxLTE2LTE2VjEyOGE4LDgsMCwwLDEsMC0xNiwxNiwxNiwwLDAsMSwxNiwxNnY0MEE4LDgsMCwwLDEsMTQ0LDE3NlptODgtNDhBMTA0LDEwNCwwLDEsMSwxMjgsMjQsMTA0LjExLDEwNC4xMSwwLDAsMSwyMzIsMTI4Wm0tMTYsMGE4OCw4OCwwLDEsMC04OCw4OEE4OC4xLDg4LjEsMCwwLDAsMjE2LDEyOFpNMTI0LDk2YTEyLDEyLDAsMSwwLTEyLTEyQTEyLDEyLDAsMCwwLDEyNCw5NloiLz48L3N2Zz4=)
    }
}
	// __bfill_20260121_1738__
// __bfill_20260626_1437__
// __bfill_20251219_1116__
// __bfill_20260114_911__
// __bfill_20260110_1911__
// __bfill_20260211_820__
// __bfill_20260624_1243__
// __bfill_20260113_81__
