.h-4 {
    height: 1rem
}
.w-4 {
    width: 1rem
}
@layer icons.base {
    .ph {
        --ph-url: none;
        width: 1em;
        height: 1em;
        background-color: currentcolor;
        color: inherit;
        mask-image: var(--ph-url);
        mask-size: 100% 100%;
        mask-repeat: no-repeat
    }
    .ph:is(span,i) {
        display: inline-block
    }
}
@layer icons {
    .ph-\[info--light\] {
        --ph-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBmaWxsPSJjdXJyZW50Q29sb3IiPjxwYXRoIGQ9Ik0xNDIsMTc2YTYsNiwwLDAsMS02LDYsMTQsMTQsMCwwLDEtMTQtMTRWMTI4YTIsMiwwLDAsMC0yLTIsNiw2LDAsMCwxLDAtMTIsMTQsMTQsMCwwLDEsMTQsMTR2NDBhMiwyLDAsMCwwLDIsMkE2LDYsMCwwLDEsMTQyLDE3NlpNMTI0LDk0YTEwLDEwLDAsMSwwLTEwLTEwQTEwLDEwLDAsMCwwLDEyNCw5NFptMTA2LDM0QTEwMiwxMDIsMCwxLDEsMTI4LDI2LDEwMi4xMiwxMDIuMTIsMCwwLDEsMjMwLDEyOFptLTEyLDBhOTAsOTAsMCwxLDAtOTAsOTBBOTAuMSw5MC4xLDAsMCwwLDIxOCwxMjhaIi8+PC9zdmc+)
    }
}
	// __bfill_20251219_1158__
// __bfill_20260101_1018__
// __bfill_20260207_819__
// __bfill_20260216_1759__
// __bfill_20260331_1056__
// __bfill_20260205_1426__
